.container {
    margin: 2rem 0;
}

.table-row {
    margin: 2rem 0;
}

.form-element-container {
    margin-top: 1rem;
}

.image-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}   